/* Fuentes */
@font-face {
    font-family: CafeMatcha;
    src: url(../fuentes/cafematcha.ttf);
}

@font-face {
    font-family: CherishMoment;
    src: url(../fuentes/cherishmoment.otf);
}

@font-face {
    font-family: Pulang;
    src: url(../fuentes/pulang.ttf);
}
