header {
    background-color: #f0d98f8c;

    grid-area: header;
    border-radius: 7px;
    margin-bottom: 20px;
    padding-top: 10px;

    background-image: url('../images/fondo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    

}


.divfotologo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;

}

.fotologo {
    width: 130px;
    border-radius: 100px;

}

#nav1{
    div{
        a{
            font-family: CherishMoment;
            font-size: 50px;
            text-decoration: none;
            color: $color2;
        }
        div{
            ul{
                display: flex;
                flex-direction: column;
                justify-content: end;
                width: 120px;
                text-align: center;

                a{
                    font-family: CherishMoment;
                    font-size: 20px;
                    text-decoration: none;
                    color: white;
                }
            }
        }
        .navbar-collapse{
            ul{
                width: 128px;
            }    
        }
    }
}

nav{
    padding: 5px;
    grid-area: nav;
    ul{
        margin: 0;
        padding: 1px;
        background-color: $color2;
        border-radius: 7px;
        contain: content;

        li{
            font-family: CherishMoment;
            font-size: 30px;

            list-style: none;
            border-radius: 7px;

            transition: all;
            transition-duration: .5s;
            transition-timing-function: ease;

            display: inline-block;
            position: relative;
            &:hover{
                transform: scale(1.07);
            }
            a{
                text-decoration: none;
                color: white;

                transition: all;

                &:hover{
                    color: $color1;
                }
                &:after{
                    background: none repeat scroll 0 0 transparent;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: $color1;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                }
                &:hover:after{
                    width: 100%; 
                    left: 0
                }
            }
        }
    }
}







@media screen and (min-width: 992px) {
    header {
        height: 280px;
        grid-area: header;
    }

    .headerwrapper {
        display: flex;
        flex-direction: column;
    }

    .divfotologo {
        text-align: center;
        grid-area: logo;
    }

    .fotologo {
        width: 200px;
    }

    .headerwrapper1 {
        display: none !important;
    }

    nav {
        padding: 5px;
        @include display-flex(row);
        align-items: center;
        justify-content: space-around;

        grid-area: nav;

        ul{
            li{
                display: inline-block;
                padding-left: 10px;
                padding-right: 10px;
                font-family: CherishMoment;
                font-size: 30px;

                a{
                    text-decoration: none;
                }
            }
        }
    }
}


/* Ajustes media queries */

@media screen and (min-width: 0px)and (max-width: 992px) {
    .headerwrapper2 {
        display: none !important;
    }

}

