.index-mainwrapper {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}

.carouselindex {
    margin-top: 20px;
    margin-bottom: 40px;

}

.divhomeopciones {
    font-family: CafeMatcha;
    font-size: 35px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 40px;

    justify-items: center;

    a{
        text-decoration: none;
        color: black;
    }

}

.homeopciones {
    @include display-flex(column);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.712);
    border-radius: 7px;
    max-width: fit-content;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.548));

    &:hover{
        transform: scale(1.05);
        
    }

    span{
        display: inline-block;
        position: relative;
        
        &:after{
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: $color2;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }
        &:hover:after{
            width: 100%; 
            left: 0
        }
    }
}



#cardindex{
    width: 270px;
    contain: content;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.548));



    img{
        transition: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        filter: blur(1px);
    }
    &:hover{
        img{
            transform: scale(1.1);
            filter: blur(0.2px);
        }
    }
    div{
        text-align: center;
        h5{
            background-color: rgba(231, 211, 191, 0.452);
            font-family: cafematcha;
            color: black;
            font-size: 50px;
            width: fit-content;
            border-radius: 7px;
            contain: content;


            display: inline-block;
            position: relative;

            
            &:after{
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: $color1;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }
            &:hover:after{
                width: 100%; 
                left: 0
            }
        }

        #h5index1{
            left: 50px;
        }
        #h5index2{
            left: 65px;
        }   
        #h5index3{
            left: 56px;
        }
        #h5index4{
            left: 75px;
        }
        #h5index5{
            left: 40px;
        }
        #h5index6{
            left: 80px;
        }
    }

}




.ofertasindex{
    p {
        font-family: CafeMatcha;
        font-size: 35px;
        padding: 5px;
        background-color: $color3;
        border-radius: 7px;
    
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .divhomeopciones {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 1024px) {
    .divhomeopciones {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

}
