.pf-mainwrapper {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}

.pfgeneral {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pflista {
    width: 300px;
    ol {
        padding-left: 20px;
        li {
            font-family: CherishMoment;
            font-size: 20px;
            padding: 10px;
            background-color: hsla(0, 24%, 59%, 0.74);
            max-width: fit-content;
            border-radius: 7px;
            margin-bottom: 10px;
        }
        p {
            font-family: pulang;
            font-size: 15px;
            width: 800px;
            background-color: hsla(39, 34%, 54%, 0.63);
            max-width: fit-content;
            border-radius: 7px;
        
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .pflista {
        width: 500px;
    }
}

@media screen and (min-width: 1024px) {
    .pflista {
        width: 800px;
    }

}