.red-instagram {
  color: #d673d1; }

.red-facebook {
  color: #3c56c9; }

.red-tiktok {
  color: #363635; }

.red-telefono {
  color: #89cc80; }

.stock-si {
  color: #73d67b; }

.stock-no {
  color: #c93c3c; }

.navbar-light .navbar-toggler {
  color: white;
  border-color: white; }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow .15s ease-in-out; }

/* Keyframes y animaciones */
@keyframes fade-in-homeopciones {
  0% {
    transform: translateY(-100px);
    opacity: 0; }
  50% {
    transform: translateY(-50px);
    opacity: .5; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

.animate__pulse {
  animation-duration: 1s; }

.animate__fadeIn {
  animation-duration: 1.5s; }

.animate__fadeInLeft {
  animation-duration: 1.2s; }

.animate__fadeInRight {
  animation-duration: 1.2s; }

.animate__lightSpeedInLeft {
  animation-duration: 1s; }

.animate__fadeInDown {
  animation-duration: 1.1s; }

/* Boton scroll up */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; }

/* Fuentes */
@font-face {
  font-family: CafeMatcha;
  src: url(../fuentes/cafematcha.ttf); }

@font-face {
  font-family: CherishMoment;
  src: url(../fuentes/cherishmoment.otf); }

@font-face {
  font-family: Pulang;
  src: url(../fuentes/pulang.ttf); }

@font-face {
  font-family: cream;
  src: url(../fuentes/cream.ttf); }

@font-face {
  font-family: coffe;
  src: url(../fuentes/coffe.ttf); }

header {
  background-color: #f0d98f8c;
  grid-area: header;
  border-radius: 7px;
  margin-bottom: 20px;
  padding-top: 10px;
  background-image: url("../../images/fondo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }

.divfotologo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px; }

.fotologo {
  width: 130px;
  border-radius: 100px; }

#nav1 div a {
  font-family: CherishMoment;
  font-size: 50px;
  text-decoration: none;
  color: #A0937D; }

#nav1 div div ul {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 120px;
  text-align: center; }
  #nav1 div div ul a {
    font-family: CherishMoment;
    font-size: 20px;
    text-decoration: none;
    color: white; }

#nav1 div .navbar-collapse ul {
  width: 128px; }

nav {
  padding: 5px;
  grid-area: nav; }
  nav ul {
    margin: 0;
    padding: 1px;
    background-color: #A0937D;
    border-radius: 7px;
    contain: content; }
    nav ul li {
      font-family: CherishMoment;
      font-size: 30px;
      list-style: none;
      border-radius: 7px;
      transition: all;
      transition-duration: .5s;
      transition-timing-function: ease;
      display: inline-block;
      position: relative; }
      nav ul li:hover {
        transform: scale(1.07); }
      nav ul li a {
        text-decoration: none;
        color: white;
        transition: all; }
        nav ul li a:hover {
          color: #E7D4B5; }
        nav ul li a:after {
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background: #E7D4B5;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0; }
        nav ul li a:hover:after {
          width: 100%;
          left: 0; }

@media screen and (min-width: 992px) {
  header {
    height: 280px;
    grid-area: header; }
  .headerwrapper {
    display: flex;
    flex-direction: column; }
  .divfotologo {
    text-align: center;
    grid-area: logo; }
  .fotologo {
    width: 200px; }
  .headerwrapper1 {
    display: none !important; }
  nav {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    grid-area: nav; }
    nav ul li {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      font-family: CherishMoment;
      font-size: 30px; }
      nav ul li a {
        text-decoration: none; } }

/* Ajustes media queries */
@media screen and (min-width: 0px) and (max-width: 992px) {
  .headerwrapper2 {
    display: none !important; } }

.index-mainwrapper {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

.inicio-index-wrapper {
  padding-right: 0 !important;
  padding-left: 0 !important; }
  .inicio-index-wrapper div .index-izq {
    display: flex;
    justify-content: center;
    background-color: #A0937D; }
    .inicio-index-wrapper div .index-izq .presentacion-index {
      width: 400px;
      height: 400px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      margin-right: 50px; }
      .inicio-index-wrapper div .index-izq .presentacion-index .puto1 h1 {
        font-family: pulang;
        font-size: 55px;
        z-index: 2; }
      .inicio-index-wrapper div .index-izq .presentacion-index .puto2 img {
        width: 450px;
        z-index: 1;
        margin-top: 0; }
      .inicio-index-wrapper div .index-izq .presentacion-index .puto3 span {
        z-index: 2;
        font-family: coffe;
        font-size: 30px;
        font-weight: bolder;
        width: 340px;
        border-radius: 10px;
        padding: 5px;
        font-style: italic;
        color: #695536; }
  .inicio-index-wrapper div .index-der {
    background-color: #A0937D;
    padding-right: 0 !important; }

.grid-item {
  display: flex; }

.grid-item:nth-of-type(1) {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  place-self: center; }

.grid-item:nth-of-type(2) {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  place-self: left; }

.grid-item:nth-of-type(3) {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  place-self: center;
  margin-left: -135px; }

.carousel {
  background-color: #A0937D;
  padding: 10px 0px 10px 10px; }

.carousel-item img {
  border-radius: 10px 0 0 10px; }

@media screen and (max-width: 992px) {
  .inicio-index-wrapper {
    padding-right: 0 !important;
    padding-left: 0 !important; }
    .inicio-index-wrapper div .index-izq {
      display: flex;
      justify-content: center; }
      .inicio-index-wrapper div .index-izq .presentacion-index {
        margin-left: 80px; }
        .inicio-index-wrapper div .index-izq .presentacion-index .puto1 h1 {
          font-family: pulang;
          font-size: 55px;
          z-index: 2; }
        .inicio-index-wrapper div .index-izq .presentacion-index .puto2 img {
          width: 350px;
          z-index: 1;
          border-radius: 7px;
          margin-top: 0; }
        .inicio-index-wrapper div .index-izq .presentacion-index .puto3 span {
          z-index: 2;
          font-family: coffe;
          font-size: 30px;
          font-weight: bolder;
          width: 330px;
          border-radius: 10px;
          padding: 5px; }
    .inicio-index-wrapper div .index-der {
      padding-right: 0 !important; }
    .inicio-index-wrapper .carousel-item img {
      border-radius: 10px; }
  .carousel {
    background-color: #A0937D;
    padding: 10px; }
  .carousel-item img {
    border-radius: 10px; } }

.lineas .linea1 {
  margin-top: 20px;
  height: 8.5px;
  background-color: #A0937D;
  width: 85%;
  border-radius: 999999px; }

.lineas .linea2 {
  margin-top: 20px;
  height: 7px;
  background-color: #A0937D;
  width: 75%;
  border-radius: 999999px; }

.lineas .linea3 {
  margin-top: 20px;
  height: 5px;
  background-color: #A0937D;
  width: 65%;
  border-radius: 999999px;
  margin-bottom: 15px; }

.divhomeopciones {
  font-family: CafeMatcha;
  font-size: 35px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 40px;
  justify-items: center; }
  .divhomeopciones a {
    text-decoration: none;
    color: black; }

.homeopciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.712);
  border-radius: 7px;
  max-width: fit-content;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.548)); }
  .homeopciones:hover {
    transform: scale(1.05); }
  .homeopciones span {
    display: inline-block;
    position: relative; }
    .homeopciones span:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #A0937D;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0; }
    .homeopciones span:hover:after {
      width: 100%;
      left: 0; }

#cardindex {
  width: 270px;
  contain: content;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.548)); }
  #cardindex img {
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    filter: blur(1px); }
  #cardindex:hover img {
    transform: scale(1.1);
    filter: blur(0.2px); }
  #cardindex div {
    text-align: center; }
    #cardindex div h5 {
      background-color: rgba(231, 211, 191, 0.452);
      font-family: cafematcha;
      color: black;
      font-size: 50px;
      width: fit-content;
      border-radius: 7px;
      contain: content;
      display: inline-block;
      position: relative; }
      #cardindex div h5:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #E7D4B5;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0; }
      #cardindex div h5:hover:after {
        width: 100%;
        left: 0; }
    #cardindex div #h5index1 {
      left: 50px; }
    #cardindex div #h5index2 {
      left: 65px; }
    #cardindex div #h5index3 {
      left: 56px; }
    #cardindex div #h5index4 {
      left: 75px; }
    #cardindex div #h5index5 {
      left: 40px; }
    #cardindex div #h5index6 {
      left: 80px; }

.ofertasindex p {
  font-family: CafeMatcha;
  font-size: 35px;
  padding: 5px;
  background-color: #F6E6CB;
  border-radius: 7px;
  text-align: center; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .divhomeopciones {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 1024px) {
  .divhomeopciones {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr); } }

.productos-mainwrapper {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

.botoncatalogo {
  background-image: url(../../images/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Cherishmoment; }

.dropdowncatalogo {
  background-color: #c0afa4;
  font-family: cherishmoment;
  contain: content; }

.dropdownboton {
  transition: all;
  transition-timing-function: ease; }
  .dropdownboton:hover {
    transform: scale(1.2);
    background-color: #E7D4B5; }

#botoncategorias {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: 15px; }

.catalogogeneral {
  margin-bottom: 50px; }

.categoriaprod {
  display: flex;
  flex-direction: row;
  justify-content: center;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.281)); }

#cardcatalogo {
  width: 250px; }
  #cardcatalogo div {
    text-align: center;
    background-color: #A0937D;
    font-family: cream; }
    #cardcatalogo div a {
      border: solid 2px;
      border-color: #92be92;
      background-color: white;
      color: #316931;
      transition-duration: 0.25s;
      transition-timing-function: ease; }
      #cardcatalogo div a:hover {
        background-color: #92be92; }

.producto {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(166, 209, 247, 0.4);
  align-items: center;
  justify-content: space-between; }

.tituloscat {
  font-family: CherishMoment;
  text-align: center;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.548)); }
  .tituloscat span {
    font-size: 40px; }

.prodcat span {
  max-width: 200px;
  font-family: CafeMatcha;
  font-size: 20px;
  text-align: center; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .categoriaprod {
    display: flex;
    flex-direction: row;
    justify-items: center; } }

@media screen and (min-width: 1024px) {
  .categoriaprod {
    display: flex;
    flex-direction: column;
    justify-items: center; }
  .prodcat {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-between; }
  .producto {
    display: flex;
    flex-direction: column;
    justify-content: space-around; } }

.contacto-mainwrapper {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

#p1consulta {
  font-family: Pulang;
  font-size: 35px;
  max-width: 550px;
  text-align: center;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.38)); }

.opcionescontacto ul li {
  font-family: Pulang;
  font-size: 25px;
  color: #3f3f3f;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.25)); }

.listaopcionescontacto a {
  text-decoration: none;
  color: #3f3f3f; }

.h3consulta {
  font-family: Pulang;
  font-size: 40px;
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.25)); }

div .formconsulta {
  width: 650px;
  background-color: #F6E6CB;
  padding: 10px 20px;
  border-radius: 7px; }
  div .formconsulta input, div .formconsulta textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 7px;
    box-sizing: border-box;
    font-family: cherishmoment;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.05)); }
  div .formconsulta textarea {
    min-height: 100px;
    max-height: 100px;
    max-width: 650px; }

#botonconsulta {
  background-color: #9ec4db;
  padding: 15px; }
  #botonconsulta:hover {
    cursor: pointer; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .listaopcionescontacto {
    margin-top: 0%; } }

@media (max-width: 768px) {
  .divformconsulta form {
    width: 100%; } }

.myc-mainwrapper {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

.divtablamyc {
  display: flex;
  justify-content: center; }
  .divtablamyc .tablamyc {
    border: solid 4px;
    border-collapse: collapse;
    width: 75%;
    border-color: #6e6556;
    border-style: solid; }
    .divtablamyc .tablamyc td {
      border: solid 2px;
      font-family: Cherishmoment;
      font-size: 25px;
      border-color: #A0937D;
      text-align: center; }
    .divtablamyc .tablamyc th {
      border: solid 2px;
      border-color: #A0937D;
      text-align: center; }
    .divtablamyc .tablamyc thead {
      font-family: Pulang;
      font-size: 25px;
      background-image: url(../../images/fondo2.jpg);
      background-repeat: no-repeat;
      background-size: cover; }
    .divtablamyc .tablamyc tbody {
      font-family: Cafematcha;
      font-size: 18px;
      background-color: #E3CDC1; }

.myc2 div div span {
  background-color: #A0937D;
  font-family: pulang;
  font-size: 30px;
  border-radius: 10px; }

.myc2 div div p {
  background-color: #E3CDC1;
  font-family: coffe;
  font-size: 20px;
  border-radius: 10px; }

@media screen and (max-width: 778px) {
  .myc1 {
    display: none !important; } }

@media screen and (min-width: 778px) {
  .myc2 {
    display: none !important; } }

.pf-mainwrapper {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

.pfgeneral {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.pflista {
  width: 300px; }
  .pflista ol {
    padding-left: 20px; }

.pflista-ol-items, .pflista-ol-li, .pflista-ol-p {
  padding: 10px;
  max-width: fit-content;
  border-radius: 7px; }

.pflista-ol-li {
  font-family: CherishMoment;
  font-size: 35px;
  background-color: rgba(176, 125, 125, 0.74);
  margin-bottom: 10px; }

.pflista-ol-p {
  font-family: pulang;
  font-size: 20px;
  width: 800px;
  background-color: rgba(178, 150, 98, 0.63); }

@media screen and (max-width: 768px) {
  .pflista-ol-li {
    font-size: 28px; }
  .pflista-ol-p {
    font-size: 20px; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pflista {
    width: 500px; } }

@media screen and (min-width: 1024px) {
  .pflista {
    width: 800px; } }

footer {
  background-color: #c0afa4;
  grid-area: footer;
  border-radius: 7px; }

.divfooter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
  padding-top: 20px; }

.navfooter {
  margin: 0px;
  padding: 5px;
  box-sizing: border-box; }
  .navfooter ul {
    list-style: none;
    padding-left: 5px; }

.contactofooter ul {
  list-style: none;
  padding-left: 5px;
  width: 193px; }

.redesfooter ul {
  list-style: none;
  padding-left: 5px; }

#h6footer {
  font-family: CherishMoment;
  font-size: 20px;
  margin: 10px;
  color: rgba(255, 255, 255, 0.856);
  text-align: center; }

.navfooterlistas li a {
  font-family: Pulang;
  font-size: 15px;
  text-decoration: none;
  color: #424242;
  transition: all; }
  .navfooterlistas li a:hover {
    color: #F6E6CB; }

.contactofooterlistas li {
  font-family: Pulang;
  font-size: 15px;
  color: #424242; }

.redesfooterlistas li a {
  font-family: Pulang;
  font-size: 15px;
  text-decoration: none;
  transition: all; }
  .redesfooterlistas li a:hover {
    color: #F6E6CB; }

.footerlogo a img {
  border-radius: 150px; }

.crfooter p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.555); }

@media screen and (max-width: 768px) {
  .divfooter {
    align-items: center; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .divfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }

@media screen and (min-width: 1024px) {
  .divfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }

.catalogo-mainwrapper {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

.catalogo-producto-wrapper {
  width: 90% !important; }
  .catalogo-producto-wrapper div .catizq img {
    width: 400px;
    margin-right: -50px;
    z-index: 2;
    border-radius: 10px 5px 5px 10px; }
  .catalogo-producto-wrapper div .catder {
    background-color: #A0937D;
    border-radius: 10px;
    width: 350px;
    height: 300px;
    z-index: 1; }
    .catalogo-producto-wrapper div .catder span:nth-child(1) {
      color: white;
      font-family: cream;
      font-size: 25px; }
    .catalogo-producto-wrapper div .catder span:nth-child(2) {
      font-family: cafematcha;
      font-size: 25px; }
    .catalogo-producto-wrapper div .catder span:nth-child(3) {
      font-family: cream;
      font-size: 20px; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .catizq {
    margin-left: -25px; }
    .catizq img {
      width: 300px !important;
      border-radius: 10px 10px 5px 5px  !important; }
  .catder {
    margin: 0;
    margin-top: -50px;
    padding-top: 40px;
    max-width: 250px;
    height: 300px !important; }
    .catder span {
      padding-left: 30px !important;
      padding-right: 10px !important; }
      .catder span:nth-child(1) {
        color: white;
        font-family: cream;
        font-size: 15px;
        padding-top: 40px !important; }
      .catder span:nth-child(2) {
        font-family: cafematcha;
        font-size: 20px;
        padding-top: 5px !important;
        padding-bottom: 5px !important; }
      .catder span:nth-child(3) {
        font-family: cream;
        font-size: 15px;
        padding-bottom: 50px !important; } }

body {
  background-color: #E7D4B5;
  overflow-x: hidden !important; }

.row {
  margin-left: 0% !important;
  margin-right: 0% !important; }

.row > * {
  padding-left: 0% !important; }

main {
  grid-area: main;
  margin-bottom: 50px; }

.h1general {
  font-family: CherishMoment;
  font-size: 55px;
  text-align: center;
  padding: 10px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.548));
  animation-delay: 1s; }
