.contacto-mainwrapper {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}
.contacto-main{
    background-image: url(../../images/mujerdefondo3.png);
    background-size: 500px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50px ;
}
@media screen and (max-width:425px) {
    .contacto-main{
        background-position: -30px -200px;
    }
    
}
@media screen and (min-width:425px) and (max-width:768px){
    .contacto-main{
        background-position: 35px -240px;
    }
    
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .contacto-main{
        background-position: 0px;
    }
    
}

#p1consulta {
    font-family: Pulang;
    font-size: 35px;
    max-width: 550px;
    text-align: center;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.380));
}

.opcionescontacto{
    ul{
        li{
            font-family: Pulang;
            font-size: 25px;
            color: rgb(63, 63, 63);
            filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.250));
            list-style: none;
            background-color: rgba(240, 248, 255, 0.192);
            border-radius: 10px;
            margin-top: 2px;
            margin-bottom: 2px;
            width: 310px;
        }
    }
}

.listaopcionescontacto{
    a{
        text-decoration: none;
        color: rgb(63, 63, 63);
    }
}

.h3consulta {
    font-family: Pulang;
    font-size: 40px;
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.250));
}

div{
    .formconsulta {
        width: 650px;
        background-color: $color3;
        padding: 10px 20px;
        border-radius: 7px;
        input, textarea{
            width: 100%;
            margin-bottom: 15px;
            padding: 7px;
            box-sizing: border-box;
            font-family: cherishmoment;
            font-size: 20px;
            border: none;
            border-radius: 7px;
            filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.050));
        }
        textarea {
            min-height: 100px;
            max-height: 100px;
            max-width: 650px;
        }
    }
}

#botonconsulta {
    background-color: hsl(203, 46%, 74%);
    padding: 15px;

    &:hover{
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .listaopcionescontacto {
        margin-top: 0%;
    }

}

@media (max-width:768px) {
    .divformconsulta{
        form{
            width: 100%;
        }
    }
}