.myc-mainwrapper {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}


.divtablamyc {
    display: flex;
    justify-content: center;
    .tablamyc {
        border: solid 4px;
        border-collapse: collapse;
        width: 75%;
        border-color: #6e6556;
        border-style: solid;
        
        td {
            border: solid 2px;
            font-family: Cherishmoment;
            font-size: 25px;
            border-color: $color2;
            text-align: center;
        }

        th {
            border: solid 2px;
            border-color: $color2;
            text-align: center;
            
        }

        thead {
            font-family: Pulang;
            font-size: 25px;
            background-image: url(../../images/fondo2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        tbody {
            font-family: Cafematcha;
            font-size: 18px;
            background-color: $color4;
        }
    
    }
}

.myc2{
    div{
        div{
            span{
                background-color: $color2;
                font-family: pulang;
                font-size: 30px;
                border-radius: 10px;
            }   
            p{
                background-color: $color4;
                font-family: coffe;
                font-size: 20px;
                border-radius: 10px;
                

            }
        }
    }
}

@media screen and (max-width: 778px){
    .myc1{
        display: none !important;
    }
    
}

@media screen and (min-width: 778px){
    .myc2{
        display: none !important;
    }
}

