.pf-mainwrapper {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}

.main-pf{
    background-image: url(../../images/mujerdefondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 300px 240px;
}
@media screen and (max-width:425px) {
    .pflista {
        width: 300px;
    }
    .main-pf{
        background-position-y: 460px;
        background-position-x: -400px;
    }
    
}
@media screen and (min-width:425px) and (max-width:768px){
    .pflista {
        width: 400px;
    }
    .main-pf{
        background-position-y: 300px;
        background-position-x: -160px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .pflista {
        width: 600px;
    }
    .main-pf{
        background-position-y: -100px;
        background-position-x: 200px;
    }
}

.pfgeneral {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pflista {
    ol {
        padding-left: 20px;
    }
}

// extend
.pflista-ol-items{
    padding: 10px;
    max-width: fit-content;
    border-radius: 7px;
}

.pflista-ol-li{
    @extend .pflista-ol-items;
    font-family: CherishMoment;
    font-size: 35px;
    background-color: hsla(0, 24%, 59%, 0.74);
    margin-bottom: 10px;
}

.pflista-ol-p{
    @extend .pflista-ol-items;
    font-family: pulang;
    font-size: 20px;
    width: 800px;
    background-color: hsla(39, 34%, 54%, 0.63);
    a{
        color: black;
    }
}
@media screen and (max-width: 768px){
    .pflista-ol-li{
        font-size: 28px;
    }
    .pflista-ol-p{
        font-size: 20px;
    }
}


@media screen and (min-width: 1024px) {
    .pflista {
        width: 800px;
    }

}