.productos-mainwrapper {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}

.botoncatalogo{
    background-image: url(../../images/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Cherishmoment;
}

.dropdowncatalogo{
    background-color: #c0afa4;
    font-family: cherishmoment;
    contain: content;
}

.dropdownboton{
    transition: all;
    transition-timing-function: ease;

    &:hover{
        transform: scale(1.2);
        background-color: $color1;
    }
}
#botoncategorias{
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 15px;
}
.catalogogeneral {
    margin-bottom: 50px;
}

.categoriaprod {
    display: flex;
    flex-direction: row;
    justify-content: center;

    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.281));
}

#cardcatalogo{
    width: 250px;
    div{
        text-align: center;
        background-color: $color2;
        font-family: cream;
        a{
            border: solid 2px;
            border-color: rgb(146, 190, 146);
            background-color: white;
            color: rgb(49, 105, 49);
            transition-duration: 0.25s;
            transition-timing-function: ease;
            &:hover{
                background-color: rgb(146, 190, 146);
            }
        }
    }
}



.producto{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(166, 209, 247, 0.4);
    align-items: center;
    justify-content: space-between;
}

.tituloscat {
    font-family: CherishMoment;
    text-align: center;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.548));
    span{
        font-size: 40px;
    }
}

.prodcat{
    span{
        max-width: 200px;
        font-family: CafeMatcha;
        font-size: 20px;
        text-align: center;
    }
}
@media screen and (min-width:425px) {
    
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .categoriaprod {
        display: flex;
        flex-direction: row;
        justify-items: center;
    }

}




@media screen and (min-width: 1024px) {
    .categoriaprod {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .prodcat {
        display: flex;
        flex-direction: column;
        padding: 10px;
    
        align-items: center;
        justify-content: space-between;

    }

    .producto{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}