$color1:#E7D4B5;
$color2:#A0937D;
$color3:#F6E6CB;
$color4:#E3CDC1;
$color5: #c59f9f;

// Maps redes footer
$colores-redes:(
    instagram: rgb(214, 115, 209), 
    facebook: rgb(60, 86, 201), 
    tiktok: rgb(54, 54, 53),
    telefono: rgb(137, 204, 128),
);


@each $red, $color in $colores-redes{
    .red-#{$red} {
        color: $color;
    }

}

$variable-stock:(
    si: rgb(115, 214, 123), 
    no: rgb(201, 60, 60), 
);


@each $var, $color in $variable-stock{
    .stock-#{$var} {
        color: $color;
    }

}


// Mixins
@mixin display-flex($flex-dir){
    display :flex;
    flex-direction: $flex-dir;
}



.navbar-light  {
    .navbar-toggler{
        color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}