@import "variables";
@import "animaciones";
@import "fuentes";
@import "header";
@import "index";
@import "productos";
@import "contacto";
@import "materialesycuidados";
@import "preguntasfrecuentes";
@import "footer";
@import "productocatalogo";


body {
    background-color: $color1;
    overflow-x: hidden !important;
}
.row{
    margin-left: 0% !important;
    margin-right: 0% !important;
}
.row>*{
    padding-left: 0% !important;
}
main {
    grid-area: main;
    margin-bottom: 50px;
}


.h1general {
    font-family: CherishMoment;
    font-size: 55px;
    text-align: center;
    padding: 10px;

    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.548));

    animation-delay: 1s;
}
